<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="static/theme.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="../static/scripts/a.js"></script>
  <script src="../static/scripts/helper.js"></script>
  <script src="../static/scripts/planner.js"></script>
</head>

<body id="wrapper" ng-app="myApp" ng-controller="mainPageCtrl" ng-init="init()" >
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-bomb fa-lg"></i>
        <b><b><i><u> BudgetPlanner </u></i></b></b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/planner">Planner</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/faq">FAQ</a> </li>
        </ul> 
      </div>
    </div>
  </nav>
  <div class="py-5 text-center align-items-center d-flex">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="h3 mb-3 font-weight-normal">Current Budgets</h1>
            <div class='parent'>
              <div ng-if='data.length == 0'>
                Please add budget to plan
              </div>
              
              <div class='child' >
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Budget Name</th>
                      <th scope="col">Budget Amount</th>
                      <th scope="col">Budget Spent</th>
                      <th scope="col">Budget Left</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="budget in data">
                      <th scope="row">[[ $index + 1]]</th>
                      <td>[[ budget.name ]]</td>
                      <td>[[ budget.amount ]]</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          <form class="form-signin" style="margin-left: 30px; margin-right: 30px;">
            <h1 class="h3 mb-3 font-weight-normal">Add/Update Budget</h1>
            <div class='parent'>
              <div class='child'>
                <p>Budget Name <input type="text" ng-model="sendData['name']" id="budgetName" class="form-control"></p>
                <p>Budget Amount <input type="number" ng-model="sendData['amount']" id="budgetAmount" class="form-control"></p>
                <a class="btn btn-lg btn-primary mx-1" ng-click="addBudget()">Add Budget</a>
              </div>
            </div>
            <br>
            <br>

            <h1 class="h3 mb-3 font-weight-normal">Add Spendings</h1>
            <div class='parent'>
              <div class='child'>
                <p>Budget Name 
                  <select name="repeatSelect" id="repeatSelect" ng-model="spendData['name']" class="form-control">
                    <option ng-repeat="budget in data" value="[[ budget.name ]]">[[budget.name]]</option>
                    <option value="" selected disabled hidden>Choose here</option>
                  </select>
                </p><br>
                <p>Spent Amount <input type="number" ng-model="spendData['amount']" id="budgetAmount" class="form-control"></p>
                <a class="btn btn-lg btn-primary mx-1" ng-click="addSpending()">Add Spending</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>